---
  const { } = Astro.props;
---

<footer class="content-center p-4 text-base-content w-full text-center">
  <div>
    <p>Copyright © 2022 - yourbot &nbsp; | &nbsp; Theme by <a href="https://github.com/ayowxifu" target="_blank">wxifu</a></p>
  </div>
</footer>