---
const { } = Astro.props;
---

<section class="bg-white dark:bg-gray-900 xs:px-4 sm:px-6 xl:p-0 relative lg:top-16 top-12">
  <div class="pb-12 md:pt-10 md:pb-20 xl:top-[6vw] lg:top-[10vw] lg:max-w-[90vw] lg:left-[5vw] py-8 relative">
    <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white text-center">explore our <br>
      awesome
      <span class="underline decoration-blue-600">Features</span>
    </h1>

    <p class="mt-4 text-gray-500 xl:mt-6 dark:text-gray-300 text-center">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quam voluptatibus
    </p>

    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3">
      <div class="space-y-3 dark:bg-slate-800 bg-blue-50 p-4 rounded-2xl">
        <h1 class="text-2xl font-semibold text-gray-700 capitalize text-center dark:text-white">I dont know anymore
        </h1>

        <p class="text-gray-500 dark:text-gray-300">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti
          doloribus voluptatum eveniet
        </p>
      </div>

      <div class="space-y-3 dark:bg-slate-800 bg-blue-50 p-4 rounded-2xl">
        <h1 class="text-2xl font-semibold text-gray-700 capitalize text-center dark:text-white">Useless filler</h1>

        <p class="text-gray-500 dark:text-gray-300">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti
          doloribus voluptatum eveniet
        </p>
      </div>

      <div class="space-y-3 dark:bg-slate-800 bg-blue-50 p-4 rounded-2xl">
        <h1 class="text-2xl font-semibold text-gray-700 capitalize text-center dark:text-white">Much text awooo</h1>

        <p class="text-gray-500 dark:text-gray-300">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti
          doloribus voluptatum eveniet
        </p>
      </div>

      <div class="space-y-3 dark:bg-slate-800 bg-blue-50 p-4 rounded-2xl">
        <h1 class="text-2xl font-semibold text-gray-700 capitalize text-center dark:text-white">Some text please?</h1>

        <p class="text-gray-500 dark:text-gray-300">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti
          doloribus voluptatum eveniet
        </p>
      </div>

      <div class="space-y-3 dark:bg-slate-800 bg-blue-50 p-4 rounded-2xl">
        <h1 class="text-2xl font-semibold text-gray-700 capitalize text-center dark:text-white">Hello I text
        </h1>

        <p class="text-gray-500 dark:text-gray-300">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti
          doloribus voluptatum eveniet
        </p>
      </div>

      <div class="space-y-3 dark:bg-slate-800 bg-blue-50 p-4 rounded-2xl">
        <h1 class="text-2xl font-semibold text-gray-700 capitalize text-center dark:text-white">I am text
        </h1>

        <p class="text-gray-500 dark:text-gray-300">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ab nulla quod dignissimos vel non corrupti
          doloribus voluptatum eveniet
        </p>
      </div>
    </div>
  </div>
</section>