---
  const { } = Astro.props;
---

<section class="relative xl:h-[90vh] lg:bg-blue-50 lg:dark:bg-slate-800 w-[100vw]">
  <div class="absolute inset-0 pointer-events-none mb-32" aria-hidden="true"></div>
  <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
      <div class="mb-8 text-center">
        <p class="text-base text-blue-500 font-semibold tracking-wide uppercase">
          Features
        </p>
        <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4">
          What we offer
        </h2><p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
      </div>
      <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
        <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded-3xl shadow-xl dark:border dark:border-slate-800">
          <div class="flex items-center mb-4">
            <div class="bg-blue-600 w-8 h-8 rounded-full p-0 m-0">

            </div>
            <div class="ml-4 text-xl font-bold">
              Moderation
            </div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
        <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded-3xl shadow-xl dark:border dark:border-slate-800">
          <div class="flex items-center mb-4">
            <div class="bg-blue-600 w-8 h-8 rounded-full p-0 m-0">

            </div>
            <div class="ml-4 text-xl font-bold">
              Flags
            </div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
        <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded-3xl shadow-xl dark:border dark:border-slate-800">
          <div class="flex items-center mb-4">
            <div class="bg-blue-600 w-8 h-8 rounded-full p-0 m-0">

            </div>
            <div class="ml-4 text-xl font-bold">
              Notes
            </div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
        <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded-3xl shadow-xl dark:border dark:border-slate-800">
          <div class="flex items-center mb-4">
            <div class="bg-blue-600 w-8 h-8 rounded-full p-0 m-0">

            </div>
            <div class="ml-4 text-xl font-bold">
              Welcomer
            </div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
        <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded-3xl shadow-xl dark:border dark:border-slate-800">
          <div class="flex items-center mb-4">
            <div class="bg-blue-600 w-8 h-8 rounded-full p-0 m-0">

            </div>
            <div class="ml-4 text-xl font-bold">
              Levels
            </div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
        <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded-3xl shadow-xl dark:border dark:border-slate-800">
          <div class="flex items-center mb-4">
            <div class="bg-blue-600 w-8 h-8 rounded-full p-0 m-0">

            </div>
            <div class="ml-4 text-xl font-bold">
              Economy
            </div>
          </div>
          <p class="text-gray-500 dark:text-gray-400 text-md">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>