---
import Layout from '~/layouts/Layout.astro';
import HeroWithImage from '~/components/astro/hero/HeroWithImage.astro';
---

<Layout title="Home - YourBot" description="I am the index page!">
	<main class="w-[100vw]">
		<HeroWithImage />
	</main>
</Layout>