---
	import Layout from '~/layouts/Layout.astro';

	import BasicCTA from '~/components/astro/ctas/BasicCTA.astro';
	import BasicFeatures from '~/components/astro/features/BasicFeatures.astro';
	import StepsFeatures from '~/components/astro/features/StepsFeatures.astro';
	import HeroWithImage from '~/components/astro/hero/HeroWithImage.astro';
---

<Layout title="cok n bols">
	<main>
		<HeroWithImage />
		<BasicFeatures />
		<BasicCTA />
		<StepsFeatures />
	</main>
</Layout>