---
import Layout from "~/layouts/Layout.astro";

import Pricing from "~/components/astro/pricing/pricing.astro";
---

<Layout title="Features - Yourbot">
    <main class="w-[100vw] h-[93.9vh]">
        <Pricing />
    </main>
</Layout>